#nimi {
  font-weight: bold;
}

.bigbutton {
  font-size: 2em;
}

.widebutton {
  padding: 0 14em;
  margin: 0.5em;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.5em;;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #020202;
  color: white;
}
